@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 400;
    color: #373737;
}

*{
    margin: 0;
    padding: 0;
}

.menu-container{
    background-color: #0d094d;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-photo{
    width: 120px;
}
.menus{
    display: flex;
}
.item{
    margin-right: 40px;
    padding: 10px;
    font-size: 16px;
}
.menus li{
    list-style: none;
    color: white;
}
.menus li a{
    color: white;
}
.menus li a:hover{
    color: rgb(255, 196, 0);
    text-decoration: none;
}





/* main area */

.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-image: url(../img/a479c310a5548d5f033a06d16775ae98.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
.title{
    font-size: 55px;
    font-weight: bold;
    color: white;
}
.banner-text p{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.title span{
    color: rgb(80, 140, 252);
}
.btn{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    font-size: 17px;
}
.btn:hover{
    color: blue;
    background-color: white;
}


















