@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 400;
    color: #373737;
}

*{
    margin: 0;
    padding: 0;
}

.menu-container{
    background-color: #373737;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-photo{
    width: 120px;
}
.menus{
    display: flex;
}
.item{
    margin-right: 40px;
    padding: 10px;
    font-size: 16px;
}
.menus li{
    list-style: none;
    color: white;
}
.menus li a{
    color: white;
}
.menus li a:hover{
    color: rgb(255, 196, 0);
    text-decoration: none;
}






